body {
  margin: 0;
  font-family: ubuntuRegular;
  font-size: 16px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: ubuntuBold;
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: ubuntuMedium;
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: ubuntuRegular;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
}
